<!DOCTYPE html>
{%extends 'authapp/base.html' %}
    {%block body_block%}
        <div class="jumbotron">
            <div class="container">
                    <h1>Welcome to SSC Exams</h1>
                <h2>Exam Rules:</h2>
                <ul>
                    <li>You should write only one exam per a day.</li>
                    <li>Normal lessons will resume after the Common Test.</li>
                    <li>A student will be given “0” if he or she is caught cheating in the Common Test.</li>
                    <li>Students must be seated at their assigned desks by 7.25am.</li>
                </ul>
            </div>
        </div>

    {% endblock %}